<br>
<div class="container animate__animated animate__rotateInDownLeft">
  <div class="row">
    <!-- Content -->
    <div id="content" class="col-8 col-12-medium">
      <!-- Post -->
      <article class="box post">
        <header>
          <h2 id="mision" class="titulo">
            Mision
          </h2>
        </header>
       <img class="img-fluid image featured" src="../../../assets/images/mision.jpg" alt=""
        />
        <p style="text-align: center;">
          At PILTZINTLI we seek to raise awareness and guide family members and patients 
          with type 1 diabetes, providing the tools and knowledge to inform and cope with 
          this disease, in order to improve their quality of life.
        </p>
      </article>
      <!-- Post -->
      <article class="box post">
        <header>
            <h2 class="titulo">
             Vision
            </h2>
          </header>
            <img class="image featured"  src="../../../assets/images/vision.jpg" alt=""
          />
          <p style="text-align: center;">
            To be an association recognized at the local level for raising awareness and 
            guiding family members and patients with type 1 diabetes, providing the necessary
             tools and knowledge from the hand of specialists and expert professionals in the field, 
            to inform, promote awareness in society and cope with this disease in a better way.
          </p>
      </article>

      <article class="box post">
        <header>
            <h2 class="titulo">
                Targets
            </h2>
          </header>
          <a href="#" class="image featured"
            ><img src="../../../assets/images/objetivos.jpeg" alt=""
          /></a>
          <ul style="list-style-type:square">
            <li>
              Inform the society of the state of Aguascalientes through social networks.            </li>
            <li>
              Generate closeness with relatives and patients with type 1 diabetes.            </li>
            <li>
              Generate direct contact with specialists in the field.            </li>
            <li>
              Train students at the basic education level to generate a culture about this disease, breaking taboos, stigmas and stereotypes.            </li>
            <li>
              Provide advice and support.            </li>
            <li>
              Provide supplies to people in need.            </li>
          </ul>
      </article>

      <article class="box post">
        <header>
            <h2  class="titulo">
             Values
            </h2>
          </header>
          <a href="#" class="image featured"
            ><img src="../../../assets/images/valores.jpg" alt=""
          /></a>
          <ul style="list-style-type:square"> 
            <li>Commitment.</li>
            <li>Responsability.</li>
            <li>Tolerancy.</li>
            <li>Empathy</li>
            <li>Respect.</li>
            <li>Honesty.</li>
            <li>Solidarity.</li>
          </ul>
      </article>


      <article class="box post">
        <header>
            <h2 id="vision" class="titulo">
             Icon Meaning
            </h2>
          </header>
            <img class="img-fluid" style="width: 40em; height:25em;"  src="../../../assets/images/logo_estirado.png" alt=""
          />
          <ul>
            <li>
              BLUE CIRCLE: universal symbol of diabetes, symbolizes life, health and unity.
              HUMMINGBIRD: The hummingbird depends on nectar to live and its need, 
              such that not consuming it for a few hours can be fatal. It's an analogy in 
              that you're dependent on a high-sugar diet, whereas people with type 1 diabetes 
              are insulin dependent.
              The word PILTZINTLI means “boy/girl” in Nahuatl and makes a fond reference 
              to our children, since type 1 diabetes usually occurs in children, adolescents and young adults.
            </li>
          </ul>
      </article>
    </div>

  </div>
</div>
<br>

