<br>
<div class="container animate__animated animate__fadeInUp" style="animation-duration: 1.5s;">
  <div class="row">
    <!-- Content -->
    <div id="content" class="col-8 col-12-medium">
      <!-- Post -->
      <article class="box post">
        <header>
          <h2 style="color: #476F80; text-align: center;">
              WELCOME
            <!--<a href="#"
              >I don’t want to say <strong>it’s the aliens</strong> ...<br />
              but it’s the aliens.</a>
            -->
          </h2>
        </header>
          <img style="height: 25em;" class="image featured img-fluid" src="../../../assets/images/logo_home.png" alt="">
        <h3>Association</h3>
        <p>
          Piltzintli is a civil association focus specially on the people who has 
          diabetes type 1 and public on general, 
          that wish to get know about the topic. Actually, all the information that contains the association is publish 
          on social media on Instagram and Facebook, so all the public that they got is very limited, so our 
          development team decided to create a web system for the association
        </p>
        <ul class="actions">
          <li>
            <a><button clas="button icon solid fa-file" disabled>Continue reading</button></a>
          </li>
        </ul>
      </article>

      <!-- Post -->
      <article class="box post">
        <header>
          <h2 style="color: #476F80;">
           <a href="#"
              >Bionic pancreas simplifies management of type 1 diabetes</a
            >
          </h2>
        </header>
        <a href="#" class="image featured img-fluid"
          ><img src="../../../assets/images/mision.jpg" alt=""
        /></a>
        <p>
          Automated insulin delivery systems have been developed to make the job easier. 
          Such systems track blood glucose and deliver insulin as needed. But most systems 
          on the market still need considerable user input. Various parameters need to be 
          entered when setting up the device and may need periodic updating by a health care 
          provider. At mealtimes, the user may have to enter the amount of carbohydrates 
          consumed to determine the proper insulin dose. They may also need to manually 
          adjust insulin doses to manage episodes of high or low blood glucose.
        </p>
        <ul class="actions">
          <li>
            <a><button clas="button icon solid fa-file" disabled>Continue reading</button></a>
          </li>
        </ul>
      </article>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" class="col-4 col-12-medium">
      <!-- Excerpts -->
      <section>
        <ul class="divided">
          <li>
            <!-- Excerpt -->
            <article class="box excerpt">
              <header>
                <span class="date">July 30</span>
                <h3><a href="#">
                  Working Out in the Afternoon or Evening May Help Control Blood Sugar
                </a></h3>
              </header>
              <p>
                A new study published this 
                week found working out in the afternoon and evening may help control blood sugar.
              </p>
            </article>
          </li>
          <li>
            <!-- Excerpt -->
            <article class="box excerpt">
              <header>
                <span class="date">July 28</span>
                <h3><a href="#">The global diabetes crisis few are talking about</a></h3>
              </header>
              <p>
                In the numbers game of disease statistics, type 1 diabetes takes a back seat to type 
                2 diabetes, 
                which accounts for more than 95% of diabetes cases around the globe
              </p>
            </article>
          </li>
          <li>
            <!-- Excerpt -->
            <article class="box excerpt">
              <header>
                <span class="date">July 24</span>
                <h3><a href="#">A new therapy for treating Type 1 diabetes</a></h3>
              </header>
              <p>
                Promising early results show that longstanding Harvard Stem Cell Institute 
                (HSCI) research may have paved the way for a breakthrough treatment of 
                Type 1 diabetes.
              </p>
            </article>
          </li>
        </ul>
      </section>

      <!-- Highlights -->
      <section>
        <ul class="divided">
          <li>
            <!-- Highlight -->
            <article class="box highlight">
              <header>
                <h3><a href="#">Progress in the fight against type 1 diabetes</a></h3>
              </header>
              <a href="#" class="image left"
                ><img src="../../../assets/images/objetivos.jpeg" alt=""
              /></a>
              <p>
                “In my 35 years of type 1 diabetes research, I have seen amazing progress,
                 at so many levels. I do want to share this notion with patients and their 
                 families, as the existence and impact of these discoveries may not be 
                 readily apparent outside the scientific community,” Pugliese said.
              </p>
              <ul class="actions">
                <li>
                  <a><button clas="button icon solid fa-file" disabled>Learn More</button></a>
                </li>
              </ul>
            </article>
          </li>
          <li>
            <!-- Highlight -->
            <article class="box highlight">
              <header>
                <h3><a href="#">Type 1 diabetes
                </a></h3>
              </header>
              <a href="#" class="image left"
                ><img src="../../../assets/images/valores.jpg" alt=""
              /></a>
              <p>
                Type 1 diabetes (also known as diabetes mellitus) is an autoimmune disease 
                in which immune cells attack and destroy the insulin-producing cells of 
                the pancreas.
              </p>
              <ul class="actions">
                <li>
                  <a><button clas="button icon solid fa-file" disabled>Learn More</button></a>
                </li>
              </ul>
            </article>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
<br>
<section id="footer">
    <div class="container">
        <header>
            <h2 style="color: white;">Questions or comments? <strong>Get in touch:</strong></h2>
        </header>
        <div class="row">
            <div class="col-6 col-12-medium">
                <section>
                    <form method="post" action="#">
                        <div class="row gtr-50">
                            <div class="col-6 col-12-small">
                                <input name="name" placeholder="Name" type="text" />
                            </div>
                            <div class="col-6 col-12-small">
                                <input name="email" placeholder="Email" type="text" />
                            </div>
                            <div class="col-12">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div>
                            <div class="col-12">
                              <a><button clas="button icon solid fa-file" disabled>Send a Message</button></a>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-6 col-12-medium">
                <section>
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <ul class="icons">
                              
                                <li class="icon solid fa-home">
                                    1234 Aguascalientes<br />
                                    Ags, cp 23400<br />
                                    MEX
                                </li>
                                <li class="icon solid fa-phone">
                                    (449) 202 233 44
                                </li>
                                <li class="icon solid fa-envelope">
                                    <a style="color: white;" href="#">piltzintli@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-12-small">
                            <ul class="icons">
                                <li class="icon brands fa-twitter">
                                    <a style="color: white;" href="#">@Piltzintli</a>
                                </li>
                                <li class="icon brands fa-instagram">
                                    <a style="color: white;" href="#">instagram.com/Piltzintli</a>
                                </li>
                                <li class="icon brands fa-dribbble">
                                    <a style="color: white;" href="#">dribbble.com/Piltzintli</a>
                                </li>
                                <li class="icon brands fa-facebook-f">
                                    <a style="color: white;" href="#">facebook.com/Piltzintli</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div id="copyright" class="container">
        <ul class="links">
          <li>&copy; Piltzintli S.A de C.V</li><li>Diseñado Por: <strong style="color: white;">Raul Pineda</strong></li>
        </ul>
    </div>
</section>

<!-- Scripts
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script> -->
