<br>
<div class="container animate__animated animate__rollIn">

    <form [formGroup]='form' (ngSubmit)='agregar()'>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del Evento</label>
            <div id="nombre" class="form-text">(El nombre debe estar conformado por al menos 5 caracteres)</div>
            <input type="text" class="form-control" id="nombre"  formControlName='nombre'>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción Del Evento</label>
            <div id="descripcion" class="form-text">(La descripción debe estar conformada por al menos 10 caracteres)</div>
            <textarea rows=5 class="form-control" placeholder="Ingrese Descripción" id="descripcion" formControlName='descripcion'></textarea>
            <div class="form-text">Inserte la descripción del evento</div>
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha y Hora Del Evento</label>
            <div id="fecha" class="form-text">(Es obligatorio seleccionar una fecha)</div>
            <input type="datetime-local" class="form-control" id="fecha" formControlName='fecha'>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Seleccione una imagen</label>
            <div id="formFile" class="form-text">(Opcional)</div>
            <input class="form-control" type="file" id="formFile" accept="image/*" (change)='cambio_archivo($event)' 
            formControlName="img">  
        </div>
        <div class="d-grid gap-2 d-md-flex ">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid ">Create Event</button>
            <button type="button" class="btn btn-danger" routerLink='/eventos'>Cancel</button>
        </div>
    </form>
</div>